@using LiftSepeti.Models.Entity
@model IEnumerable<LiftSepeti.Models.Entity.musteriTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<title>Ana Sayfa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        div.w3-container {
            width: 1200px;
            height: 450px;
        }
        .w3-panel w3-card w3-white {
            width: 900px;
            margin: auto;
        }
        .sola-kaydir {
            float: left;
            padding: 0 0 0 0;
        }
        .paragraf_d {
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
        }
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: whitesmoke;
        }
        ridge {
            border-style: ridge;
        }
    </style>
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <a class="navbar-brand" href="#">Lift Sepeti</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/bayianasayfa/Index?bayiid=@ViewBag.bayibilgiler.id">Ana Sayfa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bayisepet/getIndex?bayiid=@ViewBag.bayibilgiler.id">Sepet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bayianasayfa/bayisiparisler?bayiid=@ViewBag.bayibilgiler.id">Siparişlerim</a>
        </li>
        <div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle 	" href="#" id="navbardrop" data-toggle="dropdown">
                    Satışlarım
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Musteri/Goruntule?bayiid=@ViewBag.bayiid">Satış yap</a>
                    <a class="dropdown-item" href="/bayimagaza/satislar?bayiid=@ViewBag.bayiid">Satışlarım</a>
                </div>
            </li>
        </div>
        <div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle 	" href="#" id="navbardrop" data-toggle="dropdown">
                    Mağazam
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/bayimagaza/Index?bayiid=@ViewBag.bayibilgiler.id">Ürünlerim</a>
                    <a class="dropdown-item" href="/bayimagaza/UrunEkle?bayiid=@ViewBag.bayiid">Ürün Ekle</a>
                    <a class="dropdown-item" href="/bayimagaza/bakim?bayiid=@ViewBag.bayiid">Bakıma Al</a>
                </div>
            </li>
        </div>
        <div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle 	" href="#" id="navbardrop" data-toggle="dropdown">
                    @ViewBag.bayibilgiler.bayiad
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Oturumu Kapat</a>
                </div>
            </li>
        </div>
    </ul>
</nav>
<body>
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Id</th>
                    <th>Müşteri Adı </th>
                    <th>Müşteri Soyadı</th>
                    <th>Müşteri Telefon</th>
                    <th>Müşteri Adres</th>
                </tr>
            </thead>
            <tbody>
                @{int sira = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@sira</td>
                        @{ sira++;}
                        <td> @Html.DisplayFor(modelItem => item.id)</td>
                        <td> @Html.DisplayFor(modelItem => item.ad)</td>
                        <td> @Html.DisplayFor(modelItem => item.soyad)</td>
                        <td> @Html.DisplayFor(modelItem => item.telefon)</td>
                        <td> @Html.DisplayFor(modelItem => item.adres)</td>
                        <td><a href="/bayimagaza/urunSec?musteriid=@item.id&bayiid=@ViewBag.bayiid" class="btn btn-success">Seç</a></td>
                    </tr>
                }
            </tbody>
</body>
</html>
