@using LiftSepeti.Models.Entity
@model IEnumerable<LiftSepeti.Models.Entity.bayiurunlerTable>



<!DOCTYPE html>

<html>
<title>Ürün Seç</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        div.w3-container {
            width: 1200px;
            height: 450px;
        }
        .w3-panel w3-card w3-white {
            width: 900px;
            margin: auto;
        }
        .sola-kaydir {
            float: left;
            padding: 0 0 10px 10px;
        }
        .paragraf_d {
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
        }
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Lift Sepeti</a>
        <ul class=" navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/bayianasayfa/Index?bayiid=@ViewBag.bayiid">Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bayisepet/getIndex?bayiid=@ViewBag.bayiid">Sepet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bayianasayfa/bayisiparisler?bayiid=@ViewBag.bayiid">Siparişlerim</a>
            </li>
            <div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle 	" href="#" id="navbardrop" data-toggle="dropdown">
                        Satışlarım
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Musteri/Goruntule?bayiid=@ViewBag.bayiid">Satış yap</a>
                        <a class="dropdown-item" href="/bayimagaza/satislar?bayiid=@ViewBag.bayiid">Satışlarım</a>
                    </div>
                </li>
            </div>
            <div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle 	" href="#" id="navbardrop" data-toggle="dropdown">
                        Mağazam
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/bayimagaza/Index?bayiid=@ViewBag.bayiid">Ürünlerim</a>
                        <a class="dropdown-item" href="/bayimagaza/UrunEkle?bayiid=@ViewBag.bayiid">Ürün Ekle</a>
                        <a class="dropdown-item" href="/bayimagaza/bakim?bayiid=@ViewBag.bayiid">Bakıma Al</a>
                    </div>
                </li>
            </div>
            <div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle 	" href="#" id="navbardrop" data-toggle="dropdown">
                        @ViewBag.bayibilgiler.bayiad
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/login/LogOut">Oturumu Kapat</a>
                    </div>
                </li>
            </div>
        </ul>
    </nav>
    <br />
    <br />
    <br />
    @foreach (var mdl in Model)
    {
        <div class="w3-container">
            <div class="w3-panel w3-card w3-white" style="  border-bottom-right-radius: 25px; border-top-right-radius: 25px; border-bottom-left-radius:25px; border-top-left-radius:25px; ">
                <img src="@mdl.liftTable.resim" alt="Card image cap" width="900px" height="350px" class="sola-kaydir" style="padding: 20px;">
                <br />
                <div class="paragraf_d" style="white-space: nowrap; text-overflow: ellipsis; width: 200px; overflow: visible; ">
                    <h4><p><b> Model :</b> @mdl.liftTable.modelTable.ad</p></h4>
                    <h4><p><b>Model Ebatı :</b>@mdl.liftTable.modelTable.ebat</p></h4>
                    <h4><p><b>Bakım Periyodu :</b> @mdl.liftTable.bakimperiyot ay </p></h4>
                    <a href="/musteriAPI/BayiSiparisEkle?musteriid=@ViewBag.musteriid&bayiid=@ViewBag.bayiid&liftid=@mdl.liftid&modelid=@mdl.liftTable.modelTable.id&resim=@mdl.liftTable.resim&bayiad=@ViewBag.bayiad&liftad=@mdl.liftTable.modelTable.ad&fiyat=@mdl.fiyat&bakimperiyot=@mdl.liftTable.bakimperiyot" class="btn btn-info">Seç</a>
                </div>
            </div>
        </div>
    }
</body>
</html>
