@model IEnumerable<LiftSepeti.Models.musterisiparisModel>
<!DOCTYPE html>

<html>
<title>Ana Sayfa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        div.w3-container {
            width: 1200px;
            height: 450px;
        }
        .w3-panel w3-card w3-white {
            width: 900px;
            margin: auto;
        }
        .sola-kaydir {
            float: left;
            padding: 0 0 0 0;
        }
        .paragraf_d {
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
        }
        body {
            background-image: url('https://cutewallpaper.org/21/truck-wallpaper-hd/Volvo-Truck-Wallpaper-67+-Group-Wallpapers.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        ridge {
            border-style: ridge;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Lift Sepeti</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/musteri/musterianasayfa?musteriid=@ViewBag.musteriid">Ana Sayfa</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="	glyphicon glyphicon-user"></span>@ViewBag.musteriid </a></li>
            </ul>
        </div>
    </nav>
    <br />
    <br />
    <br />
    @foreach (var lft in Model)
    {
        if(ViewBag.musteriid == lft.musteriid)
        {
            <div class="w3-container">
                <div class="w3-panel w3-card w3-white">
                    <img src="@lft.resim" alt="Card image cap" width="900px" height="350px" class="sola-kaydir">
                    <br />
                    <div class="paragraf_d">
                        <h4><p><b>Model Türü :</b> @lft.liftad</p></h4>
                        <h4><p><b>Lift Fiyatı :</b> @lft.fiyat TL</p></h4>
                        <h4><p><b>Bakım Periyodu :</b> @lft.bakimperiyot ay </p></h4>
                        <a href="/urunrecete/Index/@lft.modelid" class="btn btn-info">Ürün Detay</a>
                    </div>
                </div>
            </div>
        }
     }
</body>
</html>